<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver-class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">admin</property>
        <property name="connection.pool_size">8</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">none</property>
        <property name="current_session_context_class">thread</property>
<!--        <property name="hibernate.hbm2ddl.auto">create-drop</property>-->

        <mapping class="ru.home.aglar.market.entities.Product"/>
        <mapping class="ru.home.aglar.market.entities.Customer"/>
        <mapping class="ru.home.aglar.market.entities.Order"/>
    </session-factory>
</hibernate-configuration>