<html ng-app="market">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="market.js"></script>
</head>
<body>
    <div class="container" ng-controller="MarketController">
        <h3>Список продуктов</h3>
        <h3>Фильтрация по цене</h3>
        <form novalidate ng-submit="loadProducts()">
            <input type="number" class="fore-control" placeholder="page" ng-model="page">
            <input type="number" class="fore-control" placeholder="min" ng-model="f.min">
            <input type="number" class="fore-control" placeholder="max" ng-model="f.max">
            <button type="submit" class="btn btn-primary">Применить</button>
        </form>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tr>
                <td>ID</td>
                <td>Продукт</td>
                <td>Цена</td>
                <td>Корзина</td>
                <td>Удалить</td>
            </tr>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="addToCart(product.id)">Добавить</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteProduct(product.id)">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3>Корзина</h3>
            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <tr>
                    <td>Продукт</td>
                    <td>Количество</td>
                    <td>Общая цена</td>
                    <td>Удалить</td>
                </tr>
            <tbody>
            <tr ng-repeat="record in cart.records">
                <td>{{record.title}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="decreaseProductInCart(record.productId)">-</button>
                    {{record.quantity}}
                    <button class="btn btn-primary" ng-click="addToCart(record.productId)">+</button>
                </td>
                <td>{{record.totalPrice}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteRecord(record.productId)">Удалить</button>
                </td>
            </tr>
            <tr>
                <td>Итого:</td>
                <td></td>
                <td>{{cart.totalPrice}}</td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" ng-click="clearCart()">Очистить</button>
            <h3>Добавить товар</h3>
            <form novalidate ng-submit="addProduct()">
                <input type="text" class="fore-control" placeholder="title" ng-model="newProduct.title"><br>
                <input type="number" class="fore-control" placeholder="cost" ng-model="newProduct.price"><br>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
        </body>
</html>