<html ng-app="market">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <script src="market.js"></script>
</head>
<body>
    <div class="container" ng-controller="MarketController">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div>
<!--                class="collapse navbar-collapse" id="navbarNav">-->
                <ul class="navbar-nav">
                    <li class="nav-item" ng-show="!isUserLoggedIn()">
                        <form class="align-middle" ng-submit="tryToAuth()">
                            <div class="input-group input-group-sm" style="padding: 4px;">
                                <input id="navLoginField" class="form-control" ng-model="user.username" type="text"
                                       placeholder="username" aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                                <input id="navPasswordField" class="form-control" ng-model="user.password" type="password"
                                       placeholder="password" aria-describedby="inputGroup-sizing-sm"
                                       style="margin-left: 10px;">
                                <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm"
                                        style="margin-left: 10px;" type="submit">Войти
                                </button>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item" ng-show="isUserLoggedIn()" style="padding: 4px;">
                        <button class="btn btn-outline-secondary btn-sm" ng-click="showProfile()">Профиль</button>
                        <button class="btn btn-outline-secondary btn-sm" ng-click="tryToLogout()">Выйти</button>
                    </li>
                </ul>
            </div>
        </nav>
        <h3>Список продуктов</h3>
        <h3>Фильтрация по цене</h3>
        <form novalidate ng-submit="loadProducts()">
            <input type="number" class="fore-control" placeholder="page" ng-model="page">
            <input type="number" class="fore-control" placeholder="min" ng-model="f.min">
            <input type="number" class="fore-control" placeholder="max" ng-model="f.max">
            <button type="submit" class="btn btn-primary">Применить</button>
        </form>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tr>
                <td>ID</td>
                <td>Продукт</td>
                <td>Цена</td>
                <td>Корзина</td>
                <td>Удалить</td>
            </tr>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.id}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="addToCart(product.id)">Добавить</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="deleteProduct(product.id)">Удалить</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3>Корзина</h3>
            <table class="table table-hover" cellpadding="0" cellspacing="0">
                <tr>
                    <td>Продукт</td>
                    <td>Количество</td>
                    <td>Общая цена</td>
                    <td>Удалить</td>
                </tr>
            <tbody>
            <tr ng-repeat="record in cart.records">
                <td>{{record.title}}</td>
                <td>
                    <button class="btn btn-primary" ng-click="decreaseProductInCart(record.productId)">-</button>
                    {{record.quantity}}
                    <button class="btn btn-primary" ng-click="addToCart(record.productId)">+</button>
                </td>
                <td>{{record.totalPrice}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteRecord(record.productId)">Удалить</button>
                </td>
            </tr>
            <tr>
                <td>Итого:</td>
                <td></td>
                <td>{{cart.totalPrice}}</td>
            </tr>
            </tbody>
        </table>
        <p>
            <button class="btn btn-secondary" ng-click="clearCart()">Очистить</button>

        </p>
        <br>
        <h3>Детали заказа</h3>
        <form novalidate ng-submit="createOrder()">
            <input class="form-control" type="text" placeholder="Телефон получателя" ng-model="orderDetails.phone">
            <input class="form-control" type="text" placeholder="Адрес доставки" ng-model="orderDetails.address">
            <button class="btn btn-primary" type="submit">Оформить заказ</button>
        </form>
        <h3>Добавить товар</h3>
        <h3>Корзина</h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <tr>
                <td>ID</td>
                <td>Стоимость</td>
            </tr>
            <tbody>
            <tr ng-repeat="order in orders">
                <td>{{order.id}}</td>
                <td>{{order.totalPrice}}</td>
            </tr>
            </tbody>
        </table>
        <form novalidate ng-submit="addProduct()">
            <input type="text" class="fore-control" placeholder="title" ng-model="newProduct.title"><br>
            <input type="number" class="fore-control" placeholder="cost" ng-model="newProduct.price"><br>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</body>
</html>