<div>
  <h3>Список продуктов</h3>
  <h3>Фильтрация по цене</h3>
  <form novalidate ng-submit="loadProducts()">
    <input type="number" class="fore-control" placeholder="page" ng-model="page">
    <input type="number" class="fore-control" placeholder="min" ng-model="f.min">
    <input type="number" class="fore-control" placeholder="max" ng-model="f.max">
    <button type="submit" class="btn btn-primary">Применить</button>
  </form>
  <table class="table table-hover" cellpadding="0" cellspacing="0">
    <tr>
      <td>ID</td>
      <td>Продукт</td>
      <td>Цена</td>
      <td>Корзина</td>
      <td>Удалить</td>
    </tr>
    <tbody>
      <tr ng-repeat="product in products">
        <td>{{product.id}}</td>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>
          <button class="btn btn-primary" ng-click="addToCart(product.id)">Добавить</button>
        </td>
        <td>
          <button class="btn btn-danger" ng-click="deleteProduct(product.id)">Удалить</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <!-- <h3>Мои заказы</h3>
  <table class="table table-hover">
    <tr>
      <td>ID</td>
      <td>Адрес доставки</td>
      <td>Стоимость</td>
    </tr>
    <tbody>
      <tr ng-repeat="order in orders">
        <td>{{order.id}}</td>
        <td>{{order.address}}</td>
        <td>{{order.totalPrice}}</td>
      </tr>
    </tbody>
  </table> -->
  <h3>Добавить товар</h3>
  <form novalidate ng-submit="addProduct()">
    <input type="text" class="fore-control" placeholder="title" ng-model="newProduct.title"><br>
    <input type="number" class="fore-control" placeholder="cost" ng-model="newProduct.price"><br>
    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
</div>